@CHARSET "ISO-8859-1";
/* ********************************** */
/* stili  BIRT                        */
/* ********************************** */
.report {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;	
}

/* ***************** */
/* stile Master Page */
/* ***************** */

/* text ente */
.company-text {
	font-size: 10;
	text-align: left;
}

/* text report */
.report-text {
	font-family: Times New Roman, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10;
	font-style: italic;
	text-align: right;
}

/* text footer */
.text {
	font-size: 8;
}

.centered-tag {
	text-align: center;
}
.right-tag {
    text-align: right;
}
.left-tag {
    text-align: left;
}

.cell-no-padding {
	padding: 0pt 0pt 0pt 0pt;
}

.lightgray-background {
	background-color: #F5F5F5
}

.align-bottom {
	vertical-align: bottom;
}

.center-style {
	vertical-align: center;
}

/******************************/
/* Base Master  Page REFACTOR */
/******************************/

/* MASTER PAGE HEADER*/
.defaultOrg {
	display: block;
	font-size: 10pt;
	font-family: sans-serif;	
	white-space: normal;
	text-align: left;
}

.rptTitleDisplay {
	display: block;
	font-size: 10pt;
	font-family: sans-serif;
	white-space: normal;
	text-align: right;
}
/* FINE MASTER PAGE HEADER */

/* STILI COMUNI SU TUTTE LE STAMPE */
.titleBigCenter {
	display: block;
	color: black;
	font-size: 20px;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
}

.fieldLabel-bold{
    display: block;
    color: black;
    font-weight:bold;
    white-space: normal;
}
.fieldLabel-bold-gray{
    display: block;
    color: gray;
    font-weight:bold;
    white-space: normal;
}
.fieldLabel-bold-right{
    display: block;
    color: black;
    font-weight:bold;
    white-space: normal;
    text-align: right;
}
.fieldLabel-bold-gray-right{
    display: block;
    color: gray;
    font-weight:bold;
    white-space: normal;
    text-align: right;
}
.fieldLabel-bold-center{
    display: block;
    color: black;
    font-weight:bold;
    white-space: normal;
    text-align: center;
}
.fieldLabel-bold-gray-center{
    display: block;
    color: gray;
    font-weight:bold;
    white-space: normal;
    text-align: center;
}

.fieldLabel-12 {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
}
.fieldLabel-12-left {
    display: block;
    color: black;
    font-size: 12pt;
    white-space: normal;
    text-align: left;
}
.fieldLabel-12-bold {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
	font-weight: bold;
}
.fieldLabel-12-bold-bgGray {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
	font-weight: bold;
	background-color: gray;
}
.fieldLabel-12-Serif {
	display: block;
	color: black;
	font-family:sans-serif;
	font-size: 12pt;
	white-space: normal;
}

.fieldLabel-10 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
}
.fieldLabel-10-italic {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	font-style: italic;
}
.fieldLabel-10-italic-gray {
	display: block;
	color: gray;
	font-size: 10pt;
	white-space: normal;
	font-style: italic;
}
.fieldLabel-10-right {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: right;
}
.fieldLabel-10-center {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: center;
}
.fieldLabel-10-bold {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	font-weight: bold;
}

.fieldLabel-10-bold-center {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	font-weight: bold;
	text-align: center;
}

.fieldLabel-10-bold-left {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	font-weight: bold;
	text-align: left;
}

.fieldLabel-10-bold-bgGray {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	font-weight: bold;
	background-color: gray;
}
.fieldLabel-10-Serif {
	display: block;
	color: black;
	font-family:sans-serif;
	font-size: 10pt;
	white-space: normal;
}
.fieldLabel-10-bold-right{
	display: block;
	color: black;
	font-weight:bold;
	/*font-family:sans-serif;*/
	font-size: 10pt;
	white-space: normal;
	text-align: right;
}

.fieldLabel-7 {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	font-size: 7;
}

.fieldLabel-7-italic {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	font-style: italic;
}

.fieldLabel-7-center {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	text-align: center;
}

.fieldLabel-7-right {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	text-align: right;
}

.fieldLabel-7-bold {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	font-weight: bold;
}

.fieldLabel-7-bold-grey {
	display: block;
	color: gray;
	font-size: 7pt;
	white-space: normal;
	font-weight: bold;
}

.fieldLabel-7-bold-grey-center {
	display: block;
	color: gray;
	font-size: 7pt;
	white-space: normal;
	font-weight: bold;
	text-align: center;
}

.fieldLabel-7-bold-grey-right {
	display: block;
	color: gray;
	font-size: 7pt;
	white-space: normal;
	font-weight: bold;
	text-align: right;
}

.fieldLabel-7-rgb247x247x247 {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	font-size: 7;
	background-color: rgb(247,247,247);
}

.fieldLabel-9 {
	display: block;
	color: black;
	font-size: 9pt;
	white-space: normal;
}
.fieldLabel-9-italic {
	display: block;
	color: black;
	font-size: 9pt;
	white-space: normal;
	font-style: italic;
}

.fieldLabel-9-center {
	display: block;
	color: black;
	font-size: 9pt;
	white-space: normal;
	text-align: center;
}

.fieldLabel-9-right {
	display: block;
	color: black;
	font-size: 9pt;
	white-space: normal;
	text-align: right;
}

.fieldLabel-9-bold {
	display: block;
	color: black;
	font-size: 9pt;
	white-space: normal;
	font-weight: bold;
}

.fieldLabel-9-bold-grey {
	display: block;
	color: gray;
	font-size: 9pt;
	white-space: normal;
	font-weight: bold;
}

.fieldLabel-9-bold-grey-center {
	display: block;
	color: gray;
	font-size: 9pt;
	white-space: normal;
	font-weight: bold;
	text-align: center;
}

.fieldLabel-9-bold-grey-right {
	display: block;
	color: gray;
	font-size: 9pt;
	white-space: normal;
	font-weight: bold;
	text-align: right;
}

.fieldLabel-9-bold-right{
    display: block;
    color: black;
    font-weight:bold;
    /*font-family:sans-serif;*/
    font-size: 9pt;
    white-space: normal;
    text-align: right;
}

.fieldLabel-9-rgb184x184x184 {
    display: block;
    color: black;
    font-size: 9pt;
    white-space: normal;
    background-color: rgb(184, 184, 184);
}

.fieldLabel-8-italic {
	display: block;
	color: black;
	font-size: 8pt;
	white-space: normal;
	font-style: italic;
}

.fieldLabel-10 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: left;
}


.fieldLabel-10-bold-gray {
	display: block;
	color: gray;
	font-size: 10pt;
	white-space: normal;
	text-align: left;
	font-weight: bold;
}
.fieldLabel-10-bold-gray-center{
    display: block;
    color: gray;
    font-weight:bold;   
    font-size: 10pt;
    white-space: normal;
    text-align: center;
}

.fieldValue-10-rgb245x245x245 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	background-color: rgb(245, 245, 245);
}
.fieldValue-10-rgb235x235x235 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	background-color: rgb(235, 235, 235);
}
.fieldValue-10-rgb213x213x213 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	background-color: rgb(213, 213, 213);
}



.fieldValue-12-rgb245x245x245 {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
	background-color: rgb(245, 245, 245);
}

.fieldNumberValue-10-rgb245x245x245 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	background-color: rgb(245, 245, 245);
	text-align: right;
}

.sectionLabel-12-rgb213x213x213 {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
	background-color: rgb(213, 213, 213);
}

.tableField-10-center {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: center;
}

.tableField-10-left {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: left;
}

.tableField-10-right {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: right;
}

.textColor-White-bg7A7A7A{
	color:white;
	background-color: #7A7A7A;
}

.fieldLabel-11-italic {
	display: block;
	color: black;
	font-size: 11pt;
	white-space: normal;
	font-weight: bold;
	font-style: italic;
}

.std1-16-center-rgb213x213x213 {
	display: block;
	color: black;
	font-size: 16pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
}
.std1-16-center-rgb213x213x213-BottomBorder {
	display: block;
	color: black;
	font-size: 16pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;	
}

.std1A-15-center-rgb213x213x213 {
	display: block;
	color: black;
	font-size: 15pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
}
.std1-16-center-rgb213x213x213-noBorder {
	display: block;
	color: black;
	font-size: 16pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
	
}

.std1A-15-center-rgb31x184x69-NoBorder {
	display: block;
	color: black;
	font-size: 15pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(31, 184, 69);
	
}

.std1A-15-center-rgb35x123x220-NoBorder {
	display: block;
	color: black;
	font-size: 15pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(35, 123, 220);
	
}
.std1A-15-center-rgb255x128x0-NoBorder {
	display: block;
	color: black;
	font-size: 15pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(255, 128, 0);
	
}

.std1a-15-center-rgb213x213x213-noBorder {
	display: block;
	color: black;
	font-size: 15pt;
	white-space: normal;
	text-align: center;
	background-color: rgb(213, 213, 213);
	
}

.std2-14-bold-rgb235x235x235 {
	display: block;
	color: black;
	font-size: 14pt;
	font-weight:bold;
	white-space: normal;
	text-align: left;
	background-color: rgb(235, 235, 235);
}
.std3-12-bold-italic-rgb245x245x245 {
	display: block;
	color: black;
	font-size: 12pt;
	font-weight:bold;
	font-style:italic;
	white-space: normal;
	text-align: left;
	background-color: rgb(245, 245, 245);
}
.std3-12-bold-rgb245x245x245 {
	display: block;
	color: black;
	font-size: 12pt;
	font-weight:bold;	
	white-space: normal;
	text-align: left;
	background-color: rgb(245, 245, 245);
}
.std4-12 {
	display: block;
	color: black;
	font-size: 12pt;
	white-space: normal;
	text-align: left;
	
}
.std5-10 {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: left;
}
.std5-10-bottomBorder {
	display: block;
	color: black;
	font-size: 10pt;
	white-space: normal;
	text-align: left;
	border-bottom-color: rgb(245, 245, 245);
	border-bottom-width: thin;
	border-bottom-style: solid;
	
}
.std6-7-italic {
	display: block;
	color: black;
	font-size: 7pt;
	white-space: normal;
	font-style: italic;
}

/* TABLE STYLE */

/* WHITE ROW */
.whiteRow-TopBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	background-color: white;
}
.whiteRow-BottomBorder247x247x247{
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

.whiteRow-TopBottomBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

.whiteRow-TopBorder235x235x235{
	border-top-color: rgb(235,235,235);
	border-top-width: thin;
	border-top-style: solid;
	background-color: white;
}
.whiteRow-BottomBorder235x235x235{
	border-bottom-color: rgb(235,235,235);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

.whiteRow-TopBottomBorder235x235x235{
	border-top-color: rgb(235,235,235);
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: rgb(235,235,235);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

.whiteRow-TopBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	background-color: white;
}
.whiteRow-BottomBorderGray{
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

.whiteRow-TopBottomBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: white;
}

/* END WHITE ROW */

/* ROW COLOR-RGB(213,213,213) */
.Row213x213x213-TopBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(213,213,213);
}
.Row213x213x213-BottomBorder247x247x247{
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(213,213,213);
}

.Row213x213x213-TopBottomBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(213,213,213);
}

.Row213x213x213-TopBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(213,213,213);
}
.Row213x213x213-BottomBorderGray{
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(213,213,213);;
}

.Row213x213x213-TopBottomBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(213,213,213);;
}
/* END ROW COLOR-RGB(213,213,213) */

/* ROW COLOR-RGB(235,235,235) */
.Row235x235x235-TopBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(235,235,235);
}
.Row235x235x235-BottomBorder247x247x247{
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(235,235,235);
}

.Row235x235x235-TopBottomBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(235,235,235);
}

.Row235x235x235-TopBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(235,235,235);
}
.Row235x235x235-BottomBorderGray{
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(235,235,235);;
}

.Row235x235x235-TopBottomBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(235,235,235);;
}


/* END ROW COLOR-RGB(235,235,235) */

/* ROW COLOR-RGB(245,245,245) */
.Row245x245x245-TopBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(245,245,245);
}
.Row245x245x245-BottomBorder247x247x247{
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(245,245,245);
}

.Row245x245x245-TopBottomBorder247x247x247{
	border-top-color: rgb(247,247,247);
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: rgb(247,247,247);
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(245,245,245);
}

.Row245x245x245-TopBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	background-color: rgb(245,245,245);
}
.Row245x245x245-BottomBorderGray{
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(245,245,245);;
}

.Row245x245x245-TopBottomBorderGray{
	border-top-color: gray;
	border-top-width: thin;
	border-top-style: solid;
	border-bottom-color: gray;
	border-bottom-width: thin;
	border-bottom-style: solid;
	background-color: rgb(245,245,245);;
}

/* END ROW COLOR-RGB(245,245,245) */


.tableNoTopCellPadding{
	padding-top: 0pt;
}
.tableBottomBorder{
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
}
.tableTopBorder{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
}
.tableTopAndBottomBorder-rgb213x213x213{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
background-color: rgb(213, 213, 213);
}
.tableAllBorder-rgb213x213x213{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
background-color: rgb(213, 213, 213);
}
.tableAllBorder-rgb235x235x235{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
background-color: rgb(235, 235, 235);
}
.tableAllBorder-rgb235x235x235-fieldLabel-10-bold-gray{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
background-color: rgb(235, 235, 235);
display: block;
color: gray;
font-size: 10pt;
white-space: normal;
text-align: left;
font-weight: bold;
}
.tableTopBorder-rgb213x213x213{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
background-color: rgb(213, 213, 213);
}
.tableBottomBorder-rgb213x213x213{
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
background-color: rgb(213, 213, 213);
}

.tableTopAndBottomBorder-rgb235x235x235{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
background-color: rgb(235, 235, 235);
}
.tableTopBorder-rgb235x235x235{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
background-color: rgb(235, 235, 235);
}

.tableBottomBorder-rgb235x235x235{
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
background-color: rgb(235, 235, 235);
}
.tableBottomBorder-rgb245x245x245{
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
background-color: rgb(245, 245, 245);
}
.tableTopBorder-rgb245x245x245{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
background-color: rgb(245, 245, 245);
}

.tableNoBorder-rgb235x235x235{
background-color: rgb(235, 235, 235);
}
.tableNoBorder-rgb213x213x213{
background-color: rgb(213, 213, 213);
}
.tableNoBorder-rgb245x245x245{
background-color: rgb(245, 245, 245);
}
.tableAllBorder{
border-color: gray;
border-width: thin;
border-style: solid;
}
.tableRightSilverBorder{
border-right-color: silver;
border-right-width: thin;
border-right-style: solid;
}
.tableLeftSilverBorder{
border-left-color: silver;
border-left-width: thin;
border-left-style: solid;
}
.tableBottomLeftRightSilverBorder{
border-right-color: silver;
border-right-width: thin;
border-right-style: solid;
border-bottom-color: silver;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: silver;
border-left-width: thin;
border-left-style: solid;
}
.tableBottomRightSilverBorder{
border-right-color: silver;
border-right-width: thin;
border-right-style: solid;
border-bottom-color: silver;
border-bottom-width: thin;
border-bottom-style: solid;
}
.tableBottomLeftSilverBorder{
border-bottom-color: silver;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: silver;
border-left-width: thin;
border-left-style: solid;
}
.tableAllBorderGray{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
}
.tableLeftRightBorderGray{
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
}
.tableTopLeftRightBorderGray{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
}
.tableAllBorder-rgb245x245x245{
border-top-color: gray;
border-top-width: thin;
border-top-style: solid;
border-bottom-color: gray;
border-bottom-width: thin;
border-bottom-style: solid;
border-left-color: gray;
border-left-width: thin;
border-left-style: solid;
border-right-color: gray;
border-right-width: thin;
border-right-style: solid;
background-color: rgb(245, 245, 245);
}