/* ********************************** */
/* ****     Stili di struttura   **** */
/* ********************************** */
.report {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

.struttura-corpo {
}

.section-title-no-padding {
    font-size: 14px;
    padding: 0pt 0pt 0pt 0pt;
}
.cell-top-bottom-padding {
    padding: 0pt 1pt 0pt 1pt;
}
.section-title {
	font-size: 12pt;
}
.field-label {
    font-weight: bold;
}
.field-data {
    border: solid 1pt gray;
    /*background-color: #F5F5F5;*/
    vertical-align: top;
}
.field-data-numeric {
    border: solid 1pt gray;
    /*background-color: #F5F5F5;*/
    vertical-align: top;
    text-align: right;
}
.static-text-little-italic {
    font-size: 9px;
    font-style: italic;
}
.static-text-little {
    font-weight: bold;
}
/* ********************************** */

/* ********************************** */
/* *** Stili di struttura cella 1 *** */
/* ********************************** */
.struttura-corpo-cella-first {
    padding: 0pt 0pt 1mm 0pt;
}
.grid-corpo-principale {
}
.cella-struttura-corpo {
    border: solid 1pt gray;
    padding: 1pt 3mm 1pt 3mm;
}
.cella-header-top {
    border: solid 1pt gray;
    padding: 1pt 3mm 1pt 3mm;
}
.cella-header-bottom {
    border: solid 1pt gray;
    padding: 1pt 3mm 1pt 3mm;
}
.cella-header-image {
    padding: 3mm 0pt 2mm 0pt;
}
.cella-title {
    padding: 3mm 0pt 0pt 0pt;
}
.title-scheda {
    background-color: #D5D5D5;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.subtitle-scheda {
    text-align: center;
    padding: 1mm 0pt 1mm 0pt;
}
.subtitle-scheda-text {
    font-size: 8pt;
}
.cella-header {
    padding: 0.5mm 0pt 0.5mm 0pt;
}
.cella-header-employment-position {
    padding: 0.5mm 4mm 0.5mm 4mm;
}
.field-data-header {
    background-color: #F5F5F5;
    vertical-align: top;
}
.header-legenda {
    padding: 0pt 1pt 0pt 1pt;
}
.row-pesatura {
    background-color: #F5F5F5;
}
.row-header-level-2 {
	border-top: solid 1pt gray;
	border-left: solid 1pt gray;
	border-right: solid 1pt gray;
}
.row-detail {
	border-left: solid 1pt gray;
    border-right: solid 1pt gray;
}
.row-footer-level-2 {
	border-top: solid 1pt gray;
}
.cella-table {
    padding: 2mm 0pt 0pt 0pt;
}
.cella-descrizioni-table {
    padding: 2mm 1pt 2mm 2mm;
}
.cella-descrizioni-table-totale {
    padding: 2mm 4mm 2mm 2mm;
}
.cella-descrizioni-table-right-padding {
    padding: 2mm 4mm 2mm 1pt;
}
.table-firstlevel-title {
    font-weight: bold;
}
.table-firstlevel-title-center-align {
    font-weight: bold;
    text-align: center;
}
.table-firstlevel-title-right-align {
    text-align: right;
}
.table-firstlevel-title-center-align-no-rating-scale {
    font-weight: bold;
    font-size: 8px;
    text-align: center;
}
.table-detail-name {
    
}
.table-detail {
    padding: 2mm 5mm 2mm 2mm;
}
.table-detail-second-level {
    padding: 1pt 1pt 1pt 2mm;
}
.table-detail-kpi {
    vertical-align: bottom;
    padding: 2mm 0pt 2mm 1pt;
}
.table-detail-kpi-no-rating-scale {
    vertical-align: bottom;
    padding: 2mm 0pt 2mm 5mm;
}
.cella-peso-no-rating-scale {
    padding: 2mm 0pt 2mm 4mm;
}
.cella-peso-no-rating-scale-bottom {
    padding: 2mm 0pt 2mm 0pt;
    vertical-align: bottom;
}
.cella-totale {
    padding: 2mm 0pt 2mm 1pt;
}
.cella-peso-top-bottom-padding {
    padding: 2mm 0pt 2mm 1pt;
}
.cella-giudizi {
    padding: 0pt 8mm 0pt 8mm;
}
.cella-label-valutazioni {
    padding: 1.5mm 0pt 0pt 0pt;
    background-color: #F5F5F5;
}
.section-title-valutazioni {
    font-size: 13px;
    padding: 0pt 0pt 1.2mm 0pt;
}
.field-label-valutazioni {
    padding: 1.5mm 0pt 1.5mm 0pt;
}
.cella-label-premi-individuali {
    padding: 1.5mm 0pt 0pt 0pt;
    background-color: #F5F5F5;
}
.field-label-premi-individuali {
    padding: 1.5mm 0pt 1mm 0pt;
}
.cella-label-commenti {
    padding: 1.5mm 0pt 0pt 0pt;
    background-color: #F5F5F5;
}
.static-text-little-commenti {
    padding: 1.5mm 0pt 1.5mm 0pt;
}
.cella-data-firma-valutatore {
    padding: 2mm 0pt 2.3mm 0pt;
}
.cella-data-firma-valutato {
    padding: 2mm 0pt 7mm 0pt;
}
.cella-percento {
    vertical-align: bottom;
    padding: 0pt 0pt 2mm 0pt;
}
.total-title {
	font-weight: bold;
	text-align: right;
}
.field-data-score {
    border: solid 1pt gray;
    background-color: #F5F5F5;
    vertical-align: top;
    text-align: right;
}
/* ********************************** */

/* ********************************** */
/* *** Stili di struttura cella 2 *** */
/* ********************************** */
.cella-grid-proposta {
    padding: 1mm 0mm 0mm 0mm;
}
.cella-proposta {
    border: solid 1pt gray;
    padding: 2mm 3mm 1mm 3mm;
}
.grid-proposta-contenuto {
}
.cella-grid-proposta-contenuto-first {
    padding-top: 0pt;
}
.cella-proposta-table {
    text-align: center;
    padding: 0pt 1pt 0pt 1pt;
}
.proposta-header {
    font-weight: bold;
    padding: 0pt 1pt 0pt 1pt;
}
.proposta-contenuto {
    border: solid 1pt gray;
}
.proposta-contenuto-cella-first-row-border {
    padding: 0pt 0pt 0pt 0pt;
    border-right: solid 1pt gray;
    background-color: #F5F5F5;
}
.proposta-contenuto-cella-first-row-last {
    padding: 0pt 0pt 0pt 0pt;
    background-color: #F5F5F5;
}
.proposta-contenuto-cella-second-row-border {
    padding: 0pt 0pt 0pt 0pt;
    border-right: solid 1pt gray;
    border-top: solid 1pt gray;
}
.proposta-contenuto-cella-second-row-top-border {
    padding: 0pt 0pt 0pt 0pt;
    border-top: solid 1pt gray;
}
.proposta-contenuto-cella-text {
}
.proposta-contenuto-cella-text-value {
}
.proposta-contenuto-cella-text-submission {
    font-size: 8pt;
    padding: 1mm 0pt 1pt 0pt;
}
/* ********************************** */